<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matthewbenchimol.thefacebookportal"
    android:installLocation="internalOnly"
    android:background="@null"
    android:theme="@style/AppTheme">

    <uses-permission android:name="android.permission.INTERNET" android:isolatedProcess="true"/>

    <application
        android:background="@null"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:allowAudioPlaybackCapture="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:protectionLevel="signature"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        android:directBootAware="false"
        android:isolatedProcess="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:exported="false"
        android:resizeableActivity="false"
        android:grantUriPermissions="false"
        tools:targetApi="q">

        <activity android:name=".MainActivity"
            android:hardwareAccelerated="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="true" />
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />
        <meta-data android:name="WindowManagerPreference:FreeformWindowSize" android:value="tablet"/>
        <meta-data android:name="WindowManagerPreference:FreeformWindowOrientation" android:value="portrait"/>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />

    </application>

</manifest>